<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
    <add name="mainDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\tradingsim\Tradingsim\TradingPlatform\TradingPlatformDB.mdf;Integrated Security=True" />
    <add name="TradingPlatform.Properties.Settings.TradingPlatformDBConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TradingPlatformDB.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>